<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum posuere ante sed
                gravida. Donec sed erat vitae sapien cursus congue. Duis tempor convallis auctor. Morbi porta sapien ut
                odio placerat, id congue ex egestas. Pellentesque ultricies tortor ut metus ultrices, eget tristique
                felis vulputate. Vivamus porttitor interdum odio, eget iaculis risus pharetra eu. Mauris in metus
                elementum, molestie diam eget, iaculis elit. Sed velit quam, tristique a quam sed, sodales accumsan
                tortor. Pellentesque ac mi sagittis, efficitur ex ut, ultrices augue. Fusce mollis ipsum eget nibh
                bibendum ullamcorper.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">&copy; Todos os direitos reservados</section>
</footer>